{% extends "base.html" %} {% from "macros.jinja" import window_vars with context
%} {% block page %}
<div class="row q-col-gutter-md">
  <div class="col-12 col-md-8 col-lg-7 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <q-btn unelevated color="primary" @click="tipjarDialog.show = true"
          >New TipJar</q-btn
        >
      </q-card-section>
    </q-card>

    <q-card>
      <q-card-section>
        <div class="row items-center no-wrap q-mb-md">
          <div class="col">
            <h5 class="text-subtitle1 q-my-none">TipJars</h5>
          </div>
          <div class="col-auto">
            <q-btn flat color="grey" @click="exporttipjarsCSV"
              >Export to CSV</q-btn
            >
          </div>
        </div>
        <q-table
          dense
          flat
          :rows="tipjars"
          row-key="id"
          :columns="tipjarsTable.columns"
          v-model:pagination="tipjarsTable.pagination"
        >
          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th auto-width></q-th>
              <q-th v-for="col in props.cols" :key="col.name" :props="props">
                <span v-text="col.label"></span>
              </q-th>
              <q-th auto-width></q-th>
            </q-tr>
          </template>
          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td auto-width>
                <q-btn
                  unelevated
                  dense
                  size="xs"
                  icon="send"
                  :color="($q.dark.isActive) ? 'grey-8' : 'grey-6'"
                  type="a"
                  :href="props.row.displayUrl"
                  target="_blank"
                ></q-btn>
              </q-td>
              <q-td v-for="col in props.cols" :key="col.name" :props="props">
                <span v-text="col.value"></span>
              </q-td>
              <q-td auto-width>
                <q-btn
                  flat
                  dense
                  size="xs"
                  @click="deleteTipJar(props.row.id)"
                  icon="cancel"
                  color="pink"
                ></q-btn>
              </q-td>
            </q-tr>
          </template>
        </q-table>
      </q-card-section>
    </q-card>

    <q-card>
      <q-card-section>
        <div class="row items-center no-wrap q-mb-md">
          <div class="col">
            <h5 class="text-subtitle1 q-my-none">Tips</h5>
          </div>
          <div class="col-auto">
            <q-btn flat color="grey" @click="exporttipsCSV"
              >Export to CSV</q-btn
            >
          </div>
        </div>
        <q-table
          dense
          flat
          :rows="tips"
          :columns="tipsTable.columns"
          v-model:pagination="tipsTable.pagination"
        >
          {% raw %}
          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th v-for="col in props.cols" :key="col.name" :props="props">
                {{ col.label }}
              </q-th>
            </q-tr>
          </template>
          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td v-for="col in props.cols" :key="col.name" :props="props">
                {{ col.value }}
              </q-td>
              <q-td auto-width>
                <q-btn
                  flat
                  dense
                  size="xs"
                  @click="deleteTip(props.row.id)"
                  icon="cancel"
                  color="pink"
                ></q-btn>
              </q-td>
            </q-tr>
          </template>
          {% endraw %}
        </q-table>
      </q-card-section>
    </q-card>
  </div>
  <div class="col-12 col-md-4 col-lg-5 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <h6 class="text-subtitle1 q-my-none">
          {{SITE_TITLE}} TipJar extension
        </h6>
      </q-card-section>
      <q-card-section class="q-pa-none">
        <q-separator></q-separator>
        <q-list> {% include "tipjar/_api_docs.html" %} </q-list>
      </q-card-section>
    </q-card>
  </div>

  <q-dialog v-model="tipjarDialog.show" position="top">
    <q-card class="q-pa-lg q-pt-xl lnbits__dialog-card">
      <q-form @submit="sendTipJarData" class="q-gutter-md">
        <q-select
          filled
          dense
          emit-value
          v-model="tipjarDialog.data.wallet"
          :options="g.user.walletOptions"
          label="Wallet *"
        >
        </q-select>
        <div class="row">
          <div class="col">
            <div v-if="walletLinks.length > 0">
              <q-checkbox v-model="tipjarDialog.chain" label="Chain" />
            </div>
            <div v-else>
              <q-checkbox :value="false" label="Chain" disabled>
                <q-tooltip>
                  Watch-Only extension MUST be activated and have a wallet
                </q-tooltip>
              </q-checkbox>
            </div>
          </div>
        </div>
        <div v-if="tipjarDialog.chain">
          <q-select
            filled
            dense
            emit-value
            v-model="tipjarDialog.data.onchain"
            :options="walletLinks"
            label="Chain Wallet"
          ></q-select>
          <q-input
            filled
            dense
            v-model.trim="tipjarDialog.data.onchain_limit"
            type="number"
            label="Onchain Limit (sats)"
            hint="The minimum amount of sats to be paid onchain"
            class="q-mt-sm"
          ></q-input>
        </div>
        <q-input
          filled
          dense
          v-model.trim="tipjarDialog.data.name"
          type="text"
          label="Donatee name *"
        ></q-input>
        <q-input
          filled
          dense
          v-model.trim="tipjarDialog.data.webhook"
          type="url"
          label="Webhook (URL to send tip details to once paid)"
        ></q-input>
        <div class="row q-mt-lg">
          <q-btn
            v-if="tipjarDialog.data.id"
            unelevated
            color="primary"
            type="submit"
            >Update TipJar</q-btn
          >

          <q-btn
            v-else
            unelevated
            color="primary"
            :disable="tipjarDialog.data.name == null"
            type="submit"
            >Create TipJar</q-btn
          >
          <q-btn v-close-popup flat color="grey" class="q-ml-auto"
            >Cancel</q-btn
          >
        </div>
      </q-form>
    </q-card>
  </q-dialog>
</div>
{% endblock %} {% block scripts %} {{ window_vars(user) }}
<script src="{{ static_url_for('tipjar/static', 'js/index.js') }}"></script>
{% endblock %}
